.bottom{
   
    height: 400px;
    background:linear-gradient(rgba(8,0,58,0.3),rgba(8,0,58,0.3)),url('../../assets/herosec.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
